@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:500px){
  。箱 {
  ボーダー:1px ソリッド #40B20C10;
  幅: 100%; /* 適当な幅を指定 */
  高さ: 350px; /* 適当な高さを指定 */
  位置: 相対; /* 基準位置とする */
}
  
  
   .ミニボックス {
  マージン: 0px;
  幅: 100%;
  高さ: 730px;
  境界線: 1px ソリッド #70B35C15;
  background-image: url("jpg店内画像1.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
  背景位置: センター;
}
  
    。バー {
   位置: 固定; /* 固定配置 */
   上: 10px; /* 基点（ウィンドウ）からの距離 */
   右: 20px; /* 基点（ウィンドウ）からの距離 */
   幅: 20%;
   境界線:1px ソリッド #D49999;
   背景色:rgba(0,250,200,0.2);
}
  
   p {
  テキスト揃え:中央;
  行の高さ: 60px;
}
  
   .fixed p {
  行の高さ: 20px;
}

/* 共通するCSS */
.box 画像 {
  ボーダー:1px ソリッド #10B5C5;
  幅: 25%; /* 適当な幅を指定 */
  位置: 絶対; /* 相対位置に指定 */
  z-index: -10;
}

.box .ヘア1 {
  /* シンガポールに固定 */
  上: 0;
  左: 0;
}
.box .ヘア2 {
  /* 左下に固定 */
  下: -5px;
  左: 90px;
}
  .box .ヘア3 {
  /* 右側に固定 */
  上: 0;
  右: 90px;
}
 .box .ヘア4 {
  /* 右下に固定 */
  下: -5px;
  右: 0;
 }  
   
   。箱 {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  ボーダー:1px ソリッド #40B4C4;
  background-image: url("jpg店内画像2.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

  .bbox {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  ボーダー:1px ソリッド #30B3C3;
  background-image: url("jpgメニュー画像1.jpg");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}
  .cbox {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  ボーダー:1px ソリッド #20B2C2;
  background-image: url("jpg emiko image 1.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

  .dbox {
  余白: 5px;
  幅: 30%;
  高さ: 自動;
  境界線:1px ソリッド #10B10C10;
  background-image: url("jpg店内画像3.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

   /* テキスト右寄*/
。テキストボックス {
  ボーダー:1px ソリッド #10B5C5;
  幅: 100%;      
  位置: 相対;
}
.textinbox {
  幅: 40%;
  ボーダー:1px ソリッド #10B5C5;
  位置: 絶対;
  上: 50px;
  右: 50px;
}     
  
}

@media screen and (min-width:501px) and (max-width:1400px){
  。箱 {
  ボーダー:1px ソリッド #40B20C10;
  幅: 100%; /* 適当な幅を指定 */
  高さ: 750px; /* 適当な高さを指定 */
  位置: 相対; /* 基準位置とする */
}
  
  .ミニボックス {
  マージン: 0px;
  幅: 100%;
  高さ: 830px;
  境界線:1px ソリッド #90B45C25;
  background-image: url("jpg店内画像1.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
  背景位置: センター;
}

    。バー {
   位置: 固定; /* 固定配置 */
   上: 10px; /* 基点（ウィンドウ）からの距離 */
   右: 20px; /* 基点（ウィンドウ）からの距離 */
   幅: 20%;
   境界線:1px ソリッド #D49999;
   背景色:rgba(0,250,200,0.2);
}
  
   p {
  テキスト揃え:中央;
  行の高さ: 60px;
}
  
   .fixed p {
  行の高さ: 20px;
}

 /* 共通するCSS */
.box 画像 {
  ボーダー:1px ソリッド #10B5C5;
  幅: 25%; /* 適当な幅を指定 */
  位置: 絶対; /* 相対位置に指定 */
  z-index: -10;
}

.box .ヘア1 {
  /* シンガポールに固定 */
  上: 0;
  左: 0;
}
.box .ヘア2 {
  /* 左下に固定 */
  下: -5px;
  左: 90px;
}
  .box .ヘア3 {
  /* 右側に固定 */
  上: 0;
  右: 90px;
}
 .box .ヘア4 {
  /* 右下に固定 */
  下: -5px;
  右: 0;
 }  

 。箱 {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpg店内画像2.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

  .bbox {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpgメニュー画像1.jpg");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}
  .cbox {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpg emiko image 1.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

  .dbox {
  余白: 5px;
  幅: 30%;
  高さ: 自動;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpg店内画像3.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

    /* テキスト右寄*/
。テキストボックス {
  ボーダー:1px ソリッド #10B5C5;
  幅: 100%;      
  位置: 相対;
}
.textinbox {
  幅: 40%;
  ボーダー:1px ソリッド #10B5C5;
  位置: 絶対;
  上: 50px;
  右: 50px;
}    
  
}

@media screen and (min-width:1400px) and (max-width:2000px){
  。箱 {
  ボーダー:1px ソリッド #40B20C10;
  幅: 100%; /* 適当な幅を指定 */
  高さ: 1000px; /* 適当な高さを指定 */
  位置: 相対; /* 基準位置とする */
}

  .righttextbox {
  ボーダー:1px ソリッド #40B20C10;
  幅: 100%;      
  高さ: 750px;     
  位置：
}
  
   .ミニボックス {
  マージン: 0px;
  幅: 100%;
  高さ: 830px;
  境界線:1px ソリッド #90B45C25;
  background-image: url("jpg店内画像1.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
  背景位置: センター;
}

    。バー {
   位置: 固定; /* 固定配置 */
   上: 10px; /* 基点（ウィンドウ）からの距離 */
   右: 20px; /* 基点（ウィンドウ）からの距離 */
   幅: 20%;
   境界線:1px ソリッド #D49999;
   背景色:rgba(0,250,200,0.2);
}
  
   p {
  テキスト揃え:中央;
  行の高さ: 60px;
}
  
   .fixed p {
  行の高さ: 20px;
}

   /* 共通するCSS */
.box 画像 {
  ボーダー:1px ソリッド #10B5C5;
  幅: 25%; /* 適当な幅を指定 */
  位置: 絶対; /* 相対位置に指定 */
  z-index: -10;
}

.box .ヘア1 {
  /* シンガポールに固定 */
  上: 0;
  左: 0;
}
.box .ヘア2 {
  /* 左下に固定 */
  下: -5px;
  左: 90px;
}
  .box .ヘア3 {
  /* 右側に固定 */
  上: 0;
  右: 90px;
}
 .box .ヘア4 {
  /* 右下に固定 */
  下: -5px;
  右: 0;
 }  
   
  。箱 {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpg店内画像2.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

  .bbox {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpgメニュー画像1.jpg");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}
  .cbox {
  余白: 5px;
  幅: 30%;
  高さ: 500px;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpg emiko image 1.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}

  .dbox {
  余白: 5px;
  幅: 45%;
  高さ: 自動;
  境界線:1px ソリッド #93B4C4;
  background-image: url("jpg店内画像3.JPG");
  バックグラウンドリピート: リピートなし;
  背景サイズ: 含む;
}
  
   /* テキスト右寄*/
。テキストボックス {
  ボーダー:1px ソリッド #10B5C5;
  幅: 100%;      
  位置: 相対;
}
.textinbox {
  幅: 40%;
  ボーダー:1px ソリッド #10B5C5;
  位置: 絶対;
  上: 50px;
  右: 50px;
}   
  

}
