@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:500px){
  .box {
  border:1px solid #40B20C10; 
  width: 100%;       /* 適当な幅を指定 */
  height: 350px;       /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
  
   .minibox {
  margin: 0px;
  width: 100%; 
  height: 730px; 
  border:1px solid #70B35C15; 
  background-image: url("jpg 店内 image 1.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}
  
    .bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
}
  
   p {
  text-align:center; 
  line-height: 60px;
}
  
   .fixed p {
  line-height: 20px;
}

/* 共通するCSS */
.box img {
  border:1px solid #10B5C5; 
  width: 25%;       /* 適当な幅を指定 */
  position: absolute; /* 相対位置に指定 */
  z-index: -10;
}

.box .ヘア1 {
  /* 左上に固定 */
  top: 0;
  left: 0;
}
.box .ヘア2 {
  /* 右下に固定 */
  bottom: -5px;
  left: 90px;
}
  .box .ヘア3 {
  /* 右下に固定 */
  top: 0;
  right: 90px;
}
 .box .ヘア4 {
  /* 右下に固定 */
  bottom: -5px;
  right: 0;
 }  
   
   .abox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #40B4C4; 
  background-image: url("jpg 店内 image 2.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .bbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #30B3C3; 
  background-image: url("jpg メニュー image 1.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  .cbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #20B2C2; 
  background-image: url("jpg emiko image 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .dbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #10B10C10; 
  background-image: url("jpg 店内 image 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

   /* テキスト右寄*/
.textbox {
  border:1px solid #10B5C5; 
  width: 100%;      
  position: relative;
} 
.textinbox {
  border:1px solid #10B5C5; 
  position: absolute;
  top: 50px;
  right: 50px;
}     
  
}

@media screen and (min-width:501px) and (max-width:1400px){
   .box {
  border:1px solid #40B20C10; 
  width: 100%;       /* 適当な幅を指定 */
  height: 750px;       /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
  
  .minibox {
  margin: 0px;
  width: 100%; 
  height: 830px; 
  border:1px solid #90B45C25; 
  background-image: url("jpg 店内 image 1.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

    .bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
}
  
   p {
  text-align:center; 
  line-height: 60px;
}
  
   .fixed p {
  line-height: 20px;
}

 /* 共通するCSS */
.box img {
  border:1px solid #10B5C5; 
  width: 25%;       /* 適当な幅を指定 */
  position: absolute; /* 相対位置に指定 */
  z-index: -10;
}

.box .ヘア1 {
  /* 左上に固定 */
  top: 0;
  left: 0;
}
.box .ヘア2 {
  /* 右下に固定 */
  bottom: -5px;
  left: 200px;
}
  .box .ヘア3 {
  /* 右下に固定 */
  top: 0;
  right: 200px;
}
 .box .ヘア4 {
  /* 右下に固定 */
  bottom: -5px;
  right: 0;
} 

 .abox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg 店内 image 2.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .bbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg メニュー image 1.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  .cbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg emiko image 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .dbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg 店内 image 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

    /* テキスト右寄*/
.textbox {
  border:1px solid #10B5C5; 
  width: 100%;      
  position: relative;
} 
.textinbox {
  border:1px solid #10B5C5; 
  position: absolute;
  top: 50px;
  right: 50px;
}    
  
}

@media screen and (min-width:1400px) and (max-width:2000px){
  .box {
  border:1px solid #40B20C10; 
  width: 100%;       /* 適当な幅を指定 */
  height: 1000px;       /* 適当な高さを指定 */
  position: relative; /* 基準位置とする */
}
   
   .minibox {
  margin: 0px;
  width: 100%; 
  height: 830px; 
  border:1px solid #90B45C25; 
  background-image: url("jpg 店内 image 1.JPG");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

    .bar {
   position: fixed; /* 固定配置 */
   top: 10px;  /* 基点（ウィンドウ）からの距離 */
   right: 20px;  /* 基点（ウィンドウ）からの距離 */
   width: 20%;
   border:1px solid #D49999; 
   background-color:rgba(0,250,200,0.2);
}
  
   p {
  text-align:center; 
  line-height: 60px;
}
  
   .fixed p {
  line-height: 20px;
}

   /* 共通するCSS */
.box img {
  border:1px solid #10B5C5; 
  width: 25%;       /* 適当な幅を指定 */
  position: absolute; /* 相対位置に指定 */
  z-index: -10;
}

.box .ヘア1 {
  /* 左上に固定 */
  top: 0;
  left: 0;
}
.box .ヘア2 {
  /* 右下に固定 */
  bottom: -5px;
  left: 350px;
}
  .box .ヘア3 {
  /* 右下に固定 */
  top: 0;
  right: 350px;
}
 .box .ヘア4 {
  /* 右下に固定 */
  bottom: -5px;
  right: 0;
} 
   
  .abox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg 店内 image 2.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .bbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg メニュー image 1.jpg"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  .cbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg emiko image 1.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}

  .dbox {
  margin: 5px;
  width: 30%; 
  height: 500px; 
  border:1px solid #93B4C4; 
  background-image: url("jpg 店内 image 3.JPG"); 
  background-repeat: no-repeat;
  background-size: contain;
}
  
   /* テキスト右寄*/
.textbox {
  border:1px solid #10B5C5; 
  width: 100%;      
  position: relative;
} 
.textinbox {
  border:1px solid #10B5C5; 
  position: absolute;
  top: 50px;
  right: 50px;
}   
  

}
